body { color: black ;
       background: #FFFFE0 ;
       font-family: "Times New Roman", "Times", serif ;
       width: auto;
       overflow-y:auto;
       height: 100%;
 }

A:link { color: darkblue ;
         text-decoration : underline ;
         font-style: normal }
A:visited { color: green ;
            text-decoration : underline ;
            font-style: normal }
A:hover { color: red ;
          background : yellow ;
          text-decoration : none ;
          font-style: normal }
A:active { color: red ;
           text-decoration : underline ;
           font-style: normal }

div.home { display: block; 
           right: 10px ;
           top: 10px ;
           position:fixed ;
           font-weight: bold ;
           font-size: x-large ;
}

img.cover {
	width: 400px;
             padding-bottom : 5px ;
             padding-top : 5px ;
             padding-left : 5px ;
             padding-right : 5px ;
             margin : 2px ;
             border : 5px solid white;
}

td.mainpage { vertical-align : top ;
             padding : 10px ;
             margin : 10px ;
 }
 
td.albumListStat { vertical-align : top ;
             padding : 3px ;
             margin : 3px ;
             border : 1px solid black;
             background: white;
             text-align: right ;
             border-spacing: 1px;
 }
 
td.albumListTitle { vertical-align : top ;
             padding : 3px ;
             margin : 3px ;
             border : 1px solid black;
             background: white;
             text-align: left ;
             border-spacing: 1px;
 }
 
span.dategen { font-size: small ;
				color: white ;
				background-color : black ;
				border: 1px solid red ;
}


